<center>
  <h1><strong><span style = "color:F39C12">Zhicheng</span>
    <span style = "color:007D41">Zeng</span></strong></h1>
  <h4>
    <a href="/welcome/index" style = "color:F39C12"><strong>Home</strong></a> &nbsp; | &nbsp;
    <%# <a href="http://zczeng.ca/academic.html" style = "color:007D41">My Academic</a>%>
    <%= link_to 'My Academic', controller: 'academics' %> &nbsp; | &nbsp;
    <a href="http://www.linkedin.com/in/zczeng"style = "color:blue">LinkedIn</a> &nbsp; | &nbsp;
    <a href="mailto:z57zeng@edu.uwaterloo.ca" style = "color:brown">Email</a>
  </h4>
</center>

<table>
  <tr>
    <th>Academic Term</th>
    <th></th>
  </tr>

  <% @academics.each do |academic| %>
    <tr>
      <td><%= link_to academic.title, academic_path(academic) %></td>
    </tr>
  <% end %>
</table>
