<%= render "layouts/header" %>

<hr>
<center><h2> Academic Terms </h2>
  <% @academics.reverse.each do |academic| %>

  <h3><%= link_to academic.title, academic_path(academic) %></br></h3>
      <h4>Course(s):</h4>
      <% academic.courses.each do |course| %>
      <%= course.title %><br/>
      <% end %>
    </br>
  <% end %>
</center>
