<%= render "layouts/header" %>

<hr>

<%# Hello %>

<center>
  <h2 style="color:007D41;"><strong> Hello and Welcome </strong></h2>
  <p style="text-align:left ;width:60%">
    I am a second year mathematics student at University of Waterloo.
    This website was a plain HTML website (July - August 2018), and now
    it is built using Ruby on Rails. <br/>
    The reason is that I was working as a Ruby on Rails developer in
    August 2018, which gives me some experience; I would like to enhance
    my RoR skills by building this website. <br/><br/>

    To be added for this website: React, Material-UI
  </p>
  <br/><hr>
</center>

<%# Resume %>
