<%= render "layouts/header" %>

<br/>

<%# Hello %>

<center>
  <span class="subtitle">Welcome</span><span class="subtitle" style="color:#ff7a00;">!</span>

  <p class="welcome_text">
    I am a second year mathematics student at University of Waterloo.<br/>
    This website was a plain HTML website (July - August 2018), and now
    it is built with Ruby on Rails. <br/>
    The reason is that I was working as a Ruby on Rails developer in
    August 2018, which gives me some experience on RoR. I would like to enhance
    my RoR skills by building this website. <br/><br/>

    To be added for this website: React, Material-UI
  </p>
  <br/>
  <%# ====== RESUME BEGINS  ======%>
  <span class="subtitle">About </span><span class="subtitle" style="color:#ff7a00;">me</span>
  <%# ====== SKILLS  ======%>
  <p class="section_title">Skills</p>
  <p class="aboutme_text">
    · <span class="grouping">Familiar with: </span>
    <span style="margin-left: 75px;">Ruby on Rails, Javascript, React, CSS, HTML, Git, Linux</span><br/>
    · <span class="grouping">Knowledge of: </span>
    <span style="margin-left: 75px;">C, Java, Python, PostgreSQL</span><br/>
    · <span class="grouping">Intermediate proficiency: </span>
    <span>Microsoft Excel (knows Pivot Table), Word, Powerpoint, Visio</span>
  </p>
  <%# ====== WORK EXPERIENCE  ======%>
  <p class="section_title">Work Experience</p>
  <p class="aboutme_text">
    <span class="grouping">Social Entrepreneur-in-Training </span><br/>
    <span>Co-operaive Education and Career Actions, University of Waterloo | June - August 2018 <br/></span>
      <p class="primary_job_description">
        · Worked for three different social entreprises, each for 4 weeks.
      </p>
    <p style="margin-left:40px; text-align:left; width: 700px">
      <strong> Ruby on Rails Developer </strong><br/>
      <span>Helping Hands | August 2018</span>
      <p class="secondary_job_description">
        · Developed new features for the web app using Ruby on Rails to improve the usability <br/>
        · Documented and Fixed bugs that are found after testing the app </p>
    </p>
    <p style="margin-left:40px; text-align:left; width: 700px">
      <strong> Marketing Associate </strong><br/>
      <span>Easy Care at Home | July 2018</span>
      <p class="secondary_job_description">
        · Reported bugs and provided suggestions for improving UI/UX to the development team after testing the app <br/>
        · Performed market research of the existing home care market to develop effective strategies </p>
    </p>
    <p style="margin-left:40px; text-align:left; width: 700px">
      <strong> Data Management Specialist </strong><br/>
      <span>The Raw Carrot Soup Social Enterprise | June 2018</span>
      <p class="secondary_job_description">
        · Analyzed sales data and provide reports to optimize the sales strategy and eliminate unprofitable products <br/>
        · Entered and visualized soup quality data from lab's reports to track easily </p>
    </p>
  </p>

  <p class="aboutme_text">
    <span class="grouping">Cashier </span><br/>
    <span>Real Fruit Bubble Tea | December 2017 - March 2018<br/></span>
      <p class="primary_job_description">
        · Responsible for taking customer orders and transactions <br/>
        · Handled any customer complaints and provided solutions <br/>
        · Assissted in duties outside of job description, such as tea brewing and restocking
      </p>
  </p>

  <p class="aboutme_text">
    <span class="grouping">Youth Council Volunteer </span><br/>
    <span>Centre for Immigration and Community Services | March 2015 - March 2016<br/></span>
      <p class="primary_job_description">
        · Planned and coordinated events for local teenagers with other volunteers <br/>
        · Shared creative ideas and discussed about the feasibility of the event plans <br/>
      </p>
  </p>

  <%# ====== Interests  ======%>
  <p class="section_title">Interests</p>
  <p class="aboutme_text">
  · <span class="grouping">Soccer: </span>
  <span style="margin-left: 69px;">Started watching since 2009, fan of Beijing Guo'An FC.</span><br/>
  · <span class="grouping">Piano: </span>
  <span style="margin-left: 75px;">Passed Level 7 Exam at Shanghai Conservatory of Music. Playing since 2003.</span><br/>
  · <span class="grouping">Guitar & Bass: </span>
  <span style="margin-left: 15px;">Member of Albert Campbell CI's Senior (grade 11/12) Guitar Ensemble.</span><br/>
  </p>

</center>

<%# Resume %>
