<center>
  <h1><span class="firstname">Zhicheng</span>
      <span class="lastname">Zeng</span></h1>
  <h4>
    <i class="fa fa-home"></i>
    <a href="/welcome/index" class="home_button">Home</a> &nbsp; | &nbsp;
    <i class="fa fa-book"></i>
    <%= link_to 'My Academic', {controller: 'academics'}, {class: "academic_button"} %> &nbsp; | &nbsp;
    <i class="fa fa-linkedin"></i>
    <a href="http://www.linkedin.com/in/zczeng" class="linkedin_button">LinkedIn</a> &nbsp; | &nbsp;
    <i class="fa fa-envelope"></i>
    <a href="mailto:z57zeng@edu.uwaterloo.ca" class="email_button">Email</a>
  </h4>
</center>
